<section class="py-16 px-8">
    <div class="mx-auto max-w-5xl">
        <h2 class="text-4xl font-bold"> More Details</h2>
        <div class="flex flex-col items-center justify-between gap-16 md:flex-row">
            <p class="mt-4">
                Services that will be provided in the furture
            </p>
            <a href="#" class="flex-chrink-0 rounded-full bg-gradient-to-br from-red-600 to-blue-400 py-2 px-8 font-semibold text-white">Contact Us</a>
        </div>
    </div>
</section>