<section class="bg-gradient-to-br from-blue-300 to-red-100 py-12 px-8">
    <div class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 py-6 md:grid-cols-2 md:py-12">
      <img src="/img/tmedbluexport.png/" alt="hero" class="max-h-[32rem]"/>
      <div>
        <h1 class="text-4xl font-bold leading-[1.1] text-black md:text-5xl">Professional Medical Delivery & Pharmacy Services, Designed to Serve the Rural New River Valley.</h1>
        <p class="pt-5 text-xl leading-[1.5] text-dark-grey">We deliver prescriptions and medical supplies directly to customers, senior care facilities, clinics and more.</p>
      </div>
    </div>
</section>