<section class="px-8 pt-12">

    

    <div>
     <h2 class="text-center text-4xl font-bold">Our Story</h2>
     <p class="mx-auto mt-4 max-w-2xl text-2xl text-center">In 2013, I decided to leave the military where I served as an Air Force Medic. We moved to Blacksburg in the pursuit of career advancements, which led me to move to The New River Valley. It was quite a change of pace from my previous military life.
     Throughout the years, I have been navigating my own health and utilizing the services of the Veterans Affairs.
     <br> As a Medical Support Professional,
     I couldn't help but notice a few gaps in the access to resources for individuals seeking care in this rural area. To address this issue, T-MED was established.
     Our aim is to bridge some of these gaps by providing a local and centralized "Last Mile" medical support solution specifically designed for rural Virginia. </p>
    </div>

<div class="pt-12">
    <img src="img/insidetruck.jpg" alt="insidetruck" class="mx-auto mt-4 max-h-[20rem]"/>
</div>



    <div class="px-8 pt-12">
     <h2 class="text-center text-4xl font-bold">Temperature Controlled Coolers</h2>
     <p class="mx-auto mt-4 max-w-3xl text-2xl text-center"> We take the efficacy of your medical items seriously, which is why our delivery vehicles are equipped with temperature-controlled coolers. This ensures that your items are kept at the right temperature during transportation.</p>
    </div>
    

    <div class="grid grid-cols-1 md:grid-cols-3 items gap-8 max-w-8xl mx-auto mt-12">
        <div class="p-6 bg-blue-50 border border-gray-100 shadow-sm rounded-lg">
           
            <h3 class="font-semibold text-center text-xl mt-2.5">Veteran Owned Business</h3>
            <p class="mt-4 text-center text-gray-600">TMED is a Air Force Medic, Veteran Owned Business which means our service to you will always be handled with professionalism and care.</p>
            
            <img src="img/air-force-vector-101.svg" alt="Veteran Owned" class="mt-12 mx-auto max-h-[10rem]"/>
        </div>
        <div class="p-6 bg-blue-50 border border-gray-100 shadow-sm rounded-lg">
           
            <h3 class="font-semibold text-center text-xl mt-2.5">HIPAA compliance</h3>
            <p class="mt-4 text-center text-gray-600">At every step of the way, we adhere to the regulatory guidelines set by the Health Insurance Portability and Accountability Act. This ensures that all information pertaining to our patients and their health is safeguarded and kept secure throughout the entire process of delivery.</p>
            <img src="img/HIPAA.png" alt="HIPPA" class="mt-12 mx-auto max-h-[9rem]"/>
        </div>
        <div class="p-6 bg-blue-50 border border-gray-100 shadow-sm rounded-lg">
           
            <h3 class="font-semibold text-center text-xl mt-2.5">Small Business</h3>
            <p class="mt-4 text-center text-gray-600"> We are a local Small Business located in Blacksburg, Virginia. Commited to supporting our community</p>
            <img src="img/sbsd.png" alt="SBSD" class="mt-12 mx-auto max-h-[6rem]"/>
        </div>
    </div>
</section>